body {
    font-family: sans-serif;
    margin: 0;
}
header {
    display: flex;
    background-color: #272626;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
    margin-right: 10px;
}
nav a {
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover {
    color: #ffff00;
}

/*RESPONSIVE*/
@media (max-width: 680px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}